<header class="navbar">
  <div class="logo">
    <img
      src="assets/images/logo.png"
      alt="KanBoard Logo" class="logo-img" />

    <span routerLink="/" >KanBoard</span>
  </div>

  <div class="auth-buttons">
   
    <a routerLink="/login" class="login">Login</a>
    <a routerLink="/register" class="register">Register</a>
  </div>

  <div class="hamburger" (click)="toggleMenu()">
    ☰
  </div>

</header>

<!-- Mobile menu (only toggled on small screen) -->
<nav class="mobile-nav" [class.open]="menuOpen">
  
  <a routerLink="/login" class="login">Login</a>
  <a routerLink="/register" class="register">Register</a>
</nav>

<section class="hero">
  <h1>Effortless Task Management<br>for Individuals</h1><br>
  <h3>Plan, prioritize, and progress — all in one place.</h3>
  <p>Organize projects, tasks and stay on top of deadlines with a powerful, intuitive task management solution designed
    to achieve your goals.</p>
</section>

<section class="feature" id="feature">
  <div class="feature-left">
    <div class="feature-card">One-stop solution for all your project and task management needs</div>
    <div class="feature-card">Manage tasks and deadlines with ease</div>
    <div class="feature-card">Personalized dashboard for all your projects</div>
    <div class="feature-card">Create, update, delete, and view projects and tasks</div>
    <div class="feature-card">Drag and drop tasks across statuses (To-Do, In Progress, Done, Backlog)</div>
    <div class="feature-card">Filter tasks by priority and due dates</div>
    <div class="feature-card">Keep track of progress of all your projects</div>
  </div>

  <div class="feature-right">
    <h2>Track your task<br>progress with us</h2>
    <p>Simplify your workflow and focus on what truly matters.<br>Let us help you turn tasks into achievements.</p>
    <a routerLink="/login" class="cta-button">Get Started <span class="arrow">→</span></a>
     <!-- <button class="cta-button" (click)="goToStart()">Get Started <span class="arrow">→</span></button> -->

  </div>
</section>

<footer class="footer">
  <div class="footer-links">
    <a href="#" aria-label="FAQs"><b>FAQs</b></a>
    <a href="#" aria-label="Contact"><b>Contact</b></a>
    <a href="#" aria-label="Privacy Policy"><b>Privacy Policy</b></a>
  </div>
  <p>&copy; 2025 Kanboard. All rights reserved.</p>
</footer>